* {
  box-sizing: content-box;
}
.title p {
  color: white;
  text-shadow: 0px 0px 10px 10px white;
  text-align: center;
  font-size: 2em;
}
.slide-wrapper1 {
  width: 400%;
  height: 200px;
  /* padding-right: 20px; */
  animation: cloudsMove 50s infinite;
}
.showCase img {
  width: 100%;
}
.showCase img:hover {
  box-shadow: 0px 0px 10px 10px pink;
}

.slideshow {
  width: 100%;
  text-align: center;
  color: white;
  text-align: inherit;
  font-size: 1em;
  overflow-x: hidden;
}
.slide_wrapper5 {
  width: 500%;
  height: 45px;
  animation: slideshow5 50s infinite;
  overflow-x: hidden;
}
.slidetext {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  font-size: 1em;
  padding-bottom: 2px;
}

.container {
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0%;
  overflow: hidden;
}

.slidetext:nth-child(1) {
  background-color: lightgray;
  color: gray;
}
.slidetext:nth-child(2) {
  background-color: lightgray;
  color: gray;
}
.slidetext:nth-child(3) {
  background-color: lightgray;
  color: gray;
}
.slidetext:nth-child(4) {
  background-color: lightgray;
  color: gray;
}

@keyframes slideshow5 {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  40% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  60% {
    margin-left: -300%;
  }
  70% {
    margin-left: -300%;
  }
  80% {
    margin-left: -400%;
  }
  95% {
    margin-left: -400%;
  }
}

.title {
  text-align: left;
  text-decoration-style: wavy 0px 0px 15px 15px gray;
}

.nav {
  margin-top: 50px;
}
.showCase {
  margin-left: 15%;
  margin-right: 15%;
}
.showCase div {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.toTop {
  border-radius: 10px;
}
.checkout {
  border-radius: 10px;
}

.toTop {
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  position: fixed;
  bottom: 15%;
  right: 5%;
  display: block;
}
.toTop:hover {
  box-shadow: 0px 0px 5px 5px pink;
  background-color: pink;
  animation-name: goUp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes goUp {
  50% {
    transform: translateY(15px);
  }
}
.toTop a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20%;
}
.checkout {
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: block;
}
.checkout:hover {
  box-shadow: 0px 0px 5px 5px pink;
  background-color: pink;
}

.checkout input {
  text-decoration: none;
  color: white;
  display: block;
  padding-left: 30%;
  padding-top: 20%;
  background: transparent;
  border: none !important;
  font-size: 24px;
}
.checkout input:hover {
  animation-name: pop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.checkout span {
  color: red;
}
@keyframes pop {
  50% {
    transform: scale(2.2) rotate(360deg);
  }
}
/* sdafasdfasf
 */
.nav-link .nav-item {
  background: white;
  color: gray;
  text-decoration: none;
  padding: 10px 20px;
}
.nav-link:hover {
  background-color: lightblue;
  color: white;
  box-shadow: 0px 0px 3px 1px lightblue;
}
.modalWindow {
  background-color: rgba(150, 150, 150, 0.6);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
}
.modalWindow:target {
  opacity: 1;
  pointer-events: auto;
  transition: ease-in 0.5s;
}
.content {
  width: 75vw;
  height: 45vh;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  position: relative;
}
.close {
  background-color: lightgray;
  color: black;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 600;
  text-decoration: none;
}
.close:hover {
  background-color: darkgray;
  color: white;
}
.info {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 10%;
}
.info img {
  width: 25%;
  margin: 5%;
  height: 80%;
}
.p {
  position: absolute;
  width: 60%;
  top: 0px;
  right: 0px;
}
.p i {
  font-size: 0.6em;
}
.p span {
  text-decoration: line-through;
}
.p b {
  color: red;
  font-size: 1.2em;
  padding-left: 15px;
}
.p hr {
  margin-top: 20px;
}
.add {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  background-color: rgb(50, 50, 50);
  width: 50%;
  padding: 10px 0px;
  text-align: center;
  color: lightgray;
  text-decoration: none;
}
.add:hover {
  background-color: lightgray;
  color: rgb(50, 50, 50);
}

/* fdsahfdsd */
@keyframes slideshow4 {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}
.show {
  width: 60vw;
  height: 40vh;
  /* margin-right: 10%; */
  /* animation-name: slideshow4 10s infinite;  */
  float: left;
}

.slideshow4 {
  width: 60vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 10px 10px 5px 10px lightgray;
}
.slide-wrapper4 {
  width: 400%;
  border: black 5px;
  animation: slideshow4 20s infinite alternate;
}
.slide-wrapper4 img {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}
div.row {
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}
.row p h5 {
  font-size: 1em;
  font-family: cursive;
  text-align: center;
}
.price {
  color: red;
}
.row img {
  margin-left: 5px;
}

.infoSection {
  width: 100vw;
  height: auto;
  display: block;
  background-color: lightgray;
  float: left;
  margin-top: 100px;
}
.more {
  text-align: left;
  font-size: 1em;
  color: black;
  margin-right: 50px;
  margin-top: 50px;
  padding-left: 4%;
}
.location {
  text-align: right;
  padding-right: 4%;
}

/* Thankyou page  */
.page {
  width: 300vh;
  height: 500vh;

  background-color: lightgray;
}
.body {
  background-color: pink;
}
.page p {
  font-size: 1.5em;
  color: red;
}
.label {
  width: 300vh;
  height: 300vh;
  font-family: fantasy;
  color: pink;
}
.h1 {
  font-family: fantasy;
  color: pink;
}
.form {
  background-color: pink;
}
.submitbtn:hover {
  background-color: pink;
  color: white;
}
.submitbtn {
  float: right;
  background-color: gray;
}
.thankyou .confrimation {
  text-align: center;
  text-shadow: 0px 0px 10px 15px pink;
  color: blue;
}
.typage {
  width: 100vh;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  color: pink;
  opacity: 1;
  text-shadow: 0px 0px 15px 15px red;
  font-family: cursive;
}

/* animation */
.container2 {
  /* border: ridge 30px lightgray; */
  width: 100vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  overflow: hidden;
  display: block;
}
.firework {
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: picture;
  animation-delay: 0s;
  animation-duration: 0.5s;
}
.fc1 {
  opacity: 1;
  width: 10%;
  height: 10%;
  margin-left: 80%;
  margin-right: 5%;
  margin-top: 50%;
  position: fixed;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.fc2 {
  opacity: 1;
  width: 12%;
  height: 12%;
  margin-left: 2%;
  margin-right: 60%;
  margin-top: 35%;
  position: fixed;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.fc3 {
  opacity: 0;
  width: 20%;
  height: 20%;
  margin-left: 60%;
  margin-right: 1%;
  position: fixed;
  animation-duration: 10s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
.fc4 {
  opacity: 1;
  width: 20%;
  height: 20%;
  margin-left: 5%;
  margin-right: 60%;
  margin-top: 85%;
  animation-duration: 5s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc5 {
  opacity: 1;
  width: 12%;
  height: 12%;
  margin-left: 80%;
  margin-right: 1%;
  margin-bottom: 40%;
  animation-duration: 6s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc6 {
  opacity: 1;
  width: 8%;
  height: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50%;
  animation-duration: 5s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc7 {
  opacity: 1;
  margin-left: 15%;
  margin-top: 35%;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc8 {
  width: 10%;
  height: 10%;
  opacity: 1;

  margin-left: 60%;
  margin-top: 60%;

  animation-duration: 5s;
  animation-delay: 0.8s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc9 {
  opacity: 1;
  margin-left: 90%;
  margin-right: 10%;
  margin-bottom: 70%;
  animation-duration: 5s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc10 {
  opacity: 1;
  margin-left: 45%;
  margin-right: 10%;
  margin-top: 50%;
  margin-bottom: 10%;
  animation-duration: 7s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc11 {
  width: 5%;
  height: 5%;
  opacity: 1;
  margin-left: 45%;
  margin-right: 60%;
  margin-top: 10%;
  animation-duration: 6s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc12 {
  width: 10%;
  height: 10%;
  opacity: 1;
  margin-top: 98%;
  margin-left: 80%;
  margin-right: 5%;
  animation-duration: 5s;
  animation-delay: 0.9s;
  animation-iteration-count: infinite;
  position: fixed;
}
.fc7,
.fc8,
.fc9,
.fc10 {
  width: 5%;
  height: 5%;
}

.fc1,
.fc2,
.fc3,
.fc4,
.fc5,
.fc6,
.fc7,
.fc8,
.fc9,
.fc10,
.fc11,
.fc12 {
  animation-name: blink;
}
/* @keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
    scale: 50%;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  93% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes blink {
  50% {
    transform: translateY(50px);
  }
}

.copyright {
  text-align: center;
  color: black;
}
/* <-- carousel code --> */
.center-block {
  float: none;
}
/* .col-md-10 {
  width: 5% !important;
} */
.carousel-item {
  height: 40vh;
  /* width: 50; */
  background-color: rgb(0, 0, 0);
  /* color: white; */
  position: relative;
}
.carousel-container {
  position: absolute;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc0cb' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
/*styling the controls of basic carousel */

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc0cb' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
a > span.carousel-control-next-icon,
a > span.carousel-control-prev-icon {
  width: 100px;
  height: 100px;
}
.carousel .carousel-indicators li {
  background-color: pink;
}
.carousel .carousel-indicators li.active {
  background-color: red;
}
.overlayImage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
}

.storyAboutUs,
.payment {
  font-family: monospace;
  color: gray;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
  margin-left: 10px;
}
.storyAboutUs a {
  font-family: monospace;
  color: pink;
  font-size: 1.2em;
  font-weight: bold;
}
.esc {
  width: 50vw;
  height: 50vh;
  margin-left: 450px;
  margin-right: auto;

}
@media only screen and (max-width: 450px) {
  .esc{
  width: 90vw;
  height: 50vh;
  margin-left: 5px;
  margin-right: auto;
}
}

@media only screen and (max-width: 900px) and (min-width: 450px) {
  .esc{
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
}
